<?xml version="1.0"?>
<launch>

  <!--  -->
  <!-- These are values that can be passed via command line to this launch file, -->
  <!--    for example, paused:=true -->
  <!--  paused       : start the simulation in a paused state -->
  <!--  use_sim_time : tell ROS nodes to get the time published by Gazebo -->
  <!--  gui          : launch the user interface -->
  <!--  headless     : disable all rendering (does not work with gui:=true) -->
  <!--  debug        : start gzserver in debug mode using gdb -->
  <!--  model        : xacro file for adabot -->
  <!--  -->
  <arg name="paused"       default="true"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui"          default="true"/>
  <arg name="headless"     default="false"/>
  <arg name="debug"        default="false"/>
  <arg name="model"        default="$(find adabot_description)/urdf/adabot.main.xacro"/>
  <!-- These arguments are used to adjust parameters in the adabot xacro file -->
  <!--  ch_length     : length of chasis -->
  <!--  ch_width      : width of chasis -->
  <!--  wg_per_wheel  : number of wegs on each of wheels -->
  <!--  wh_radius     : radius of each wheel -->
  <arg name="ch_length"     default="0.100" />
  <arg name="ch_width"      default="0.070" />
  <arg name="wg_per_wheel"  default="5"     />
  <arg name="wh_radius"     default="0.020" />

  <!--  -->
  <!-- Start with the empty_world.launch file -->
  <!--  -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"   value="$(find adabot_gazebo)/worlds/adabot.empty.world"/>
    <arg name="paused"       value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui"          value="$(arg gui)" />
    <arg name="headless"     value="$(arg headless)"/>
    <arg name="debug"        value="$(arg debug)" />
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)
                ch_length:=$(arg ch_length)
                ch_width:=$(arg ch_width)
                wg_per_wheel:=$(arg wg_per_wheel)
                wh_radius:=$(arg wh_radius)" />

  <!-- Spawn a robot into Gazebo from the ROS Parameter Server -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model adabot" />

  <!-- ros_control adabot launch file -->
  <!--include file="$(find adabot_control)/launch/adabot.control.launch" /-->

</launch>
